@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
.information {
    display: "block";
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    border-radius: 1px;
    border-width: 3px;
    border-color: aqua;
    border-style: solid;
    box-shadow:10px 10px 10px grey;  
    z-index: 5;
    top:0px;
    width: 30%;
    height: auto;
    background-color: rgb(222, 234, 235);
    position: absolute;

}