.pokemonContainer {
   
    border-radius: 10%;
    border-style: solid;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.pokemonContainer:hover{
    transform: perspective(40cm) rotateX(10deg) rotateY(10deg);
}

p {
    margin: 0px;
}